body {
    margin: 0;
    padding: 0;
    background: #e74c3c;
}

.search-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #34495e;
    border-radius: 40px;
    height: 40px;
    padding: 10px;
}
  
.search-btn {
    color: #e74c3c;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #34495e;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.search-box:hover > .search-text {
    width: 240px;
    transition: 0.8s;
}
  
.search-box:hover > .search-btn {
    background: white;
}
  
.search-text {
    border: none;
    background: none;
    outline: none;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}